.admin-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.admin-card {
  background: black;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.admin-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.admin-info {
  flex: 1;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}